astroid==3.2.2
dill==0.3.8
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
platformdirs==4.2.2
progressbar==2.5
progressbar2==4.4.2
pylint==3.2.4
python-utils==3.8.2
tomlkit==0.12.5
wrapt==1.16.0
